.resource-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5% 0 1%;

    & .resource-title-button-add {
        width: 15%;
        color: #090;
        font-size: 1.5rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background: transparent;
        border: #0F0 solid 5px;
        text-align: center;
        padding: 1%;
        cursor: pointer;

        & i {
            font-size: 1.25rem;
            color: #0A0;
        }

        &:hover {
            width: 20%;
            transition: 0.2s;
            background: #0F0;

            & i {
                transform: scale(1.5);
                border: #090 solid 3px;
                border-radius: 50%;
            }
        }
    }
}



.resource-title-form {
    width: 30%;
    border: #000000 solid 1px;
    border-radius: 30px;
    background-color: #FFFFFF;
    align-items: center;
    height: fit-content;
    display: flex;
    padding: 0.5% 0;

    & input {
        width: 80%;
        padding: 1% 0 1% 5%;
        border: none;
        border-radius: 68px;

        &:focus-visible {
            outline: none;
        }
    }

    & button {
        width: 20%;
        border: none;
        background-color: #FFFFFF;
        border-radius: 50%;
        cursor: pointer;

        &:hover {
            & i {
                transition: 0.3s;
                font-size: 1.25rem;
            }
        }
    }

    &:hover {
        border: #000 solid 2px;
    }
}

.resource-table {
    width: 100%;
    margin-top: 1%;
    border-spacing: 0;
}

.resource-table-head {
    text-align: center;
    background-color: #3B4FFF;
    color: #FFFFFF;
    border: none;

    & th {
        width: 40%;
        padding: 1% 0;
        font-size: 1.25rem;
    }

    & th:last-child,
        th:first-child {
        width: 10%;
    }
}

.resource-table-body {
    text-align: center;
    font-weight: bold;
    font-size: 1.25rem;
    border-bottom: #000 solid 1px;


    & .resource-table-body-image {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1% 0;

        & img {
            width: 50%;
            aspect-ratio: 4/3;
            object-fit: cover;
        }
    }

    & i {
        color: red;

        &:hover {
            transform: scale(1.2);
        }
    }

    &:nth-child(2n) {
        background: #eee;
    }

    &:hover {
        background: #ccc;
    }
}